<div class="pf2e-spellprep">
  <div class="prepper-tabs">
    <h1>{{localize "PREPPER.loadout.availableLoadouts"}}</h1>
    <button type="button" data-action="changeTab" data-tab="current" class="{{#if (eq activeTab "current")}}active{{/if}}">
      {{localize "PREPPER.loadout.currentPreparation"}}
    </button>
    {{#each spellLoadouts as |loadout|}}
      <button type="button" data-action="changeTab" data-tab="{{loadout.id}}" class="{{#if (eq ../activeTab loadout.id)}}active{{/if}}">
        {{loadout.name}}
      </button>
    {{/each}}
    <button class="prepper-clear-all-btn" data-action="clearAll">
      <i class="fas fa-trash"></i> {{localize "PREPPER.loadoutButton.clearAll"}}
    </button>
  </div>

  <div class="prepper-tab-content">
    {{#if (eq activeTab "current")}}
      <div class="tab active" data-tab="current">
        <div class="prepper-loadout-info">
          <h2>{{localize "PREPPER.loadout.currentPreparation"}}: {{spellcastingEntry.name}}</h2>
          <button class="prepper-reload-current-btn" data-action="reload">
            <i class="fas fa-sync"></i> {{localize "PREPPER.loadoutButton.reload"}}
          </button>
          <button class="prepper-new-loadout-btn" data-action="new">
            <i class="fas fa-plus"></i> {{localize "PREPPER.loadoutButton.new"}}
          </button>
        </div>
      </div>

      <div class="prepper-loadout-container">
        {{#if spellcastingEntry.levels.length}}
          <div class="tab active prepper-spellcasting-entry">
            <h4>{{spellcastingEntry.name}}</h4>
            {{#each spellcastingEntry.levels as |level|}}
              <div class="prepper-spell-level">
                <h5>{{localize "PREPPER.loadout.spellRank"}} {{level.level}}</h5>
                <ul class="prepper-loadout">
                  {{#each level.spells as |spell|}}
                    <li class="prepper-spell-item">
                      {{spell.name}}
                    </li>
                  {{/each}}
                </ul>
              </div>
            {{/each}}
          </div>
        {{else}}
          <p class="prepper-no-spells-message">{{localize "PREPPER.loadout.noSpellsAvailable"}}</p>
        {{/if}}
      </div>
    {{/if}}

    {{#each spellLoadouts as |loadout|}}
      {{#if (eq ../activeTab loadout.id)}}
        <div class="tab active" data-tab="{{loadout.id}}">
          <div class="prepper-loadout-info">
            <h2>{{loadout.name}}</h2>
            <div class="prepper-loadout-metadata">
              <span>Id: {{loadout.id}}</span><br>
              <span class="last-used">
                {{#if loadout.created}}
                  {{localize "PREPPER.loadout.createdDate"}}: {{formatDate loadout.created}}
                {{/if}}
              </span>
            </div>
          </div>

          {{#if loadout.description}}
            <div class="prepper-loadout-description">
              {{loadout.description}}
            </div>
          {{/if}}

          <div class="prepper-loadout-container">
            {{#if loadout.displayEntry.levels.length}}
              <div class="prepper-spellcasting-entry">
                <h4>{{loadout.displayEntry.name}}</h4>
                {{#each loadout.displayEntry.levels as |level|}}
                  <div class="prepper-spell-level">
                    <h5>{{localize "PREPPER.loadout.spellRank"}} {{level.level}}</h5>
                    <ul class="prepper-loadout">
                      {{#each level.spells as |spell|}}
                        <li class="prepper-spell-item">
                          {{spell.name}}
                        </li>
                      {{/each}}
                    </ul>
                  </div>
                {{/each}}
              </div>
            {{else}}
              <p class="prepper-no-spells-message">{{localize "PREPPER.loadout.noSpellsAvailable"}}</p>
            {{/if}}
          </div>

          <div class="prepper-loadout-actions">
            <button class="prepper-load-loadout-btn" data-loadout-id="{{loadout.id}}" data-action="load">
              <i class="fas fa-book-open"></i> {{localize "PREPPER.loadoutButton.load"}}
            </button>
            <button class="prepper-reset-loadout-btn" data-loadout-id="{{loadout.id}}" data-action="reset">
              <i class="fas fa-sync-alt"></i> {{localize "PREPPER.loadoutButton.reset"}}
            </button>
            <button class="prepper-duplicate-loadout-btn" data-loadout-id="{{loadout.id}}" data-action="duplicate">
              <i class="fas fa-copy"></i> {{localize "PREPPER.loadoutButton.duplicate"}}
            </button>
            <button class="prepper-rename-loadout-btn" data-loadout-id="{{loadout.id}}" data-action="rename">
              <i class="fas fa-edit"></i> {{localize "PREPPER.loadoutButton.rename"}}
            </button>
            <button class="prepper-delete-loadout-btn" data-loadout-id="{{loadout.id}}" data-action="delete">
              <i class="fas fa-trash"></i> {{localize "PREPPER.loadoutButton.delete"}}
            </button>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
